/* Default */

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    background-color: #dedddb;
    color: #4f4f53;
    font-family: 'Proxima Nova', 'Proxima Nova Regular', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.center-info {
    letter-spacing: 0.01em;
    font-size: 1.25em;
    text-align: left;
    padding-bottom: 10px;
    margin: 20px;
    margin: 20px;
}

a {
    color: #de5b66;
   /* word-break: break-all; */
}

b {
    font-weight: 600;
}

img {
    border: 1px solid #36363b;
    margin-bottom: 10px;
}

hr {
    border-color: #36363b;
}

h1,h2,h3,h4,h5 {
    font-family: 'Proxima Nova', 'Proxima Nova Light', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.56em;
    border: 2px solid #36363b;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 2.16em;
}

h3 {
    font-size: 1.76em;
}

/* Nav bar styles */

nav {
    background-color: white;
    opacity: 0.9;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}
nav .navWide {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
nav .navWide a {
    padding-right: 10px;
}
nav .navWide .wideDiv{
    display: none;
}
nav .navWide .wideDiv {
    text-align: center;
}
nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 7px;
}
nav a {
    color: #36363b;
}
nav a.active {
    color: #de5b66;
}
nav .navNarrow {
    height: 100%;
}
nav .navNarrow .navNarrowMenu {
    cursor: pointer;
}
nav .navNarrow .navNarrowMenu svg {
    height: 60px;
}
nav .navNarrow .narrowLinks {
    display: none;
    position: fixed;
    left: 0px;
    background-color: white;
    top: 60px;
    width: 100%;
}
nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}
.navbar-image {
    border: none;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    nav {
        display: block;
    }
    nav .navWide {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .navNarrow {
        display: none;
    }
    nav .navWide .wideDiv{
        display: flex;
        align-items: center;
    }
}
/* Titles */

.page-title-text {
    font-size: 50px;
}

.page-title-text.small {
    font-size: 30px;
}

.page-title-button-container {
    align-self: flex-end;
    padding-right: 10px;
}

.page-title-button-container img {
	border: none;
}

.page-title-text-container {
    position: relative;
    z-index: 2;
    margin-top: 60px;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #36363b;
}

.page-title-overlay {
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.page-title-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.page-title {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title.about {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/about-dcc_banner.jpg");
}

.page-title.curriculum {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.page-title.directory {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/directory_banner.jpg");
}

.page-title.home {
    background-position: center bottom;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/home_banner_ordinary.jpg");
/*    background-image: url("https://dccsiteimages.s3.amazonaws.com/easter2019.jpg");
    background-image: url("https://dccsiteimages.s3.amazonaws.com/home_banner_christmas.jpg"); */
}

.page-title.events {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/events_banner.jpg");
}

.page-title.get-involved {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/get-involved_banner.jpg");
}

.page-title.give {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/give_banner.jpg");
}

.page-title.gifts {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/gifts_banner.jpg");
}

.page-title.fp {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/promise_banner.png");
}

.page-title.media {
    background-position: center top;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/media_banner.jpg");
}

.page-title.teacher-portal {
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.page-title.teams {
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

.page-title.youth {
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children-youth_banner.jpg");
}

/* Layouts */

.split-pane-container, .collection-pane {
    display: flex;
    flex-wrap: wrap;
}

.split-pane-container.reverse {
    flex-wrap: wrap-reverse;
}

.split-pane-container.vertical-align {
    align-items: center;
}

.familypromise {
    margin: 20px;
}

.collection-item-2 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.collection-item-2.medium {
    padding: 20px;
}

.collection-item-3 {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.collection-item-5 {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.split-pane-left {
    flex: 1 1 50%;
    border-right: 1px solid #36363b;
    border-bottom: 1px solid #36363b;
    padding: 0 10px 0 10px;
    min-width: 345px;
    padding-bottom: 20px;
}

.split-pane-right {
    flex: 1 1 50%;
    border-right: 1px solid #36363b;
    border-bottom: 1px solid #36363b;
    padding: 0 10px 0 10px;
    min-width: 345px;
    padding-bottom: 20px;
}

.split-pane-simple {
    flex: 1 1 50%;
}

/* Home */

.home-media-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.home-media-title-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 148px;
}

.home-media-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.home-media-content-container > img {
    margin-bottom: 0;
}

.home-media-content-container.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #36363b;
}

.home-media-content-container.text > div {
    width: 278px;
}

.home-media-content-container.with-overlay {
    position: relative;
    flex-direction: column;
}

.home-media-overlay-container {
    position: absolute;
    cursor: pointer;
}

.map-image-container img {
    width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Get Involved */

.small-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.summer {
    background: url("https://dccsiteimages.s3.amazonaws.com/OFF.png") no-repeat left;
}

.small-group-image-container {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-group-info-container {
    flex: 1 1 65%;
}

.small-group-image-container img {
    width: 120px;
    margin-bottom: 4px;
}

.small-group-info-container span {
    font-size: 0.6em;
}

.small-group-info-container h4 {
    margin-top: 4px;
}

table#prayerTable {
    width: 98%;
    margin: 10px;
}

table#prayerTable td {
    border: 1px solid #36363b;
    background: #dedddb;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

/* Give */

.amazon img {
    border: none;
    height: 85px;
}

.link-button.big {
    font-size: 2em;
    text-decoration: none;
    color: #36363b;
}

/* About */

.staff-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.staff-image-container img {
    width: 150px;
}

.staff-content-container {
    flex: 1;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.staff-container:first-of-type {
    padding-top: 10px;
}

.staff-name {
    margin: 0;
}

hr.staff-thin {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Curriculum */

.curriculum-title {
    font-size: 20px;
    white-space: normal;
    cursor: pointer;
}

/* Teacher Portal */

.teacher-container {
    display: flex;
    flex-direction: column;
    min-height: 36px;
}

.lesson-title {
    cursor: pointer;
}

/* Tables */
td {
    background: #fafafa;
}
.responsive-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
.responsive-table thead {
    visibility: hidden;
    background: #fafafa;
}
.responsive-table tr {
    padding: 5px;
    margin-bottom: 10px;
    display: block;
}
.responsive-table th,
.responsive-table td {
    padding: 10px;
    text-align: left;
}
.responsive-table th {
    text-transform: uppercase;
    font-size: 11px;
}
.responsive-table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-left: 1px solid #36363b;
    border-right: 1px solid #36363b;
    border-bottom: 1px solid #36363b;
}
.responsive-table td:first-child {
    border-top: 1px solid #36363b;
}
.responsive-table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 44%;
    text-align: left;
}
.responsive-table td > div {
    align-items: center;
}
.responsive-table thead {
    display: none;
}
.responsive-table tr {
    border: none;
}
.responsive-table td > div {
    align-items: flex-end;
}
@media screen and (min-width: 600px) {
    .responsive-table thead {
        display: table-header-group;
        visibility: visible;
        font-weight: bold;
    }
    .responsive-table tr {
        display: table-row;
        border: 1px solid #36363b;
        border-bottom: 1px solid #36363b;
        margin-bottom: 0;
    }
    .responsive-table td {
        display: table-cell;
        text-align: center;
        font-size: 14px;
        border-bottom: none;
    }
    .responsive-table td:before {
        content: "";
        display: none;
    }
    .responsive-table td > div {
        align-items: center;
    }
}

/* Directory */

.pagination-label {
    padding-left: 10px;
}

.pagination-page {
    width: 55px;
}

.pagination-buttons-container {
    padding-left: 15px;
}

.pagination-button {
    border: 1px solid #36363b;
}

.sort-filter-control {
    padding: 15px;
}

.person-name {
    flex: 1;
}

.person-image-container {
    flex: 1;
}

.person-image {
    width: 136px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 0px;
}

.person-image.household {
    width: 50px;
    margin-bottom: 0;
}

.household-image {
    width: 136px;
    height: 136px;
    border: 1px solid #36363b;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.household-image div {
    padding: 2.5px;
}

.household-image div > img {
    margin-bottom: 0;
    width: 62px;
}

.person-modal-title-container {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person-modal-membership {
    font-size: 14px;
    line-height: 1.42857143;

    color: #4f4f53;
    font-family: 'Proxima Nova', 'Proxima Nova Regular', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.person-modal-list-container {
    display: flex;
}

.person-modal-list-item {
    display: flex;
    flex-direction: column;
}

.custom-tooltip::after {
    content: attr(data-tip);
    top: 40px;
    font-size: 10px;
    left: 0%;
    width: 50px;
    text-align: center;
    word-wrap: normal;
    text-transform: none;
}

.custom-tooltip {
    display: inline-flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .custom-tooltip {
        display: inline-block;
        flex-direction: unset;
        position: relative;
    }

    .custom-tooltip::before {
        content: attr(data-tip);
        font-size: 10px;
        position: absolute;
        white-space: nowrap;
        left: 50%;
        background: #000;
        color: #e0e0e0;
        padding: 0px 7px;
        line-height: 24px;
        height: 24px;
        opacity: 0;
        text-transform: none;
        /* transition: opacity 0.4s ease-out; */
    }

    .custom-tooltip::after {
        content: "";
        width: unset;
    }

    .custom-tooltip:hover::before {
        opacity: 1;
        top: 110%;
        left: -50%;
    }
}

/* Events */

.event-container {
    display: flex;
    align-items: center;
    border: 1px solid #36363b;
    padding: 15px;
}

.event-info-link {
    margin-top: 10px;
    padding-left: 10px;
}

.event-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 108px;
}

.event-image {
    width: 100px;
    border: none;
    margin: 0px;
}

.event-date {
    letter-spacing: 0.01em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

.event-details-container {
    padding: 10px 0px 10px 20px;
    flex: 1 1 70%;
}

.event-title {
    letter-spacing: 0.01em;
    font-size: 1.5em;
    text-align: center;
}

.event-details {
    letter-spacing: 0.01em;
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 10px;
}

.event-details p {
    margin-top: 5px;
}

.special-events-padding {
    visibility: visible;
    display: none;
}

@media screen and (min-width: 690px) {
    .special-events-padding {
        visibility: hidden;
        display: block;
    }
}

/* Media */

.media {
    margin-top: 0px;
}

.media-container {
    display: flex;
    flex-direction: column;
}

.media-filter {
    margin: 10px;
}

.media-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-image-container > img {
    margin-bottom: 0px;
}

.media-image-button-container {
    position: absolute;
    cursor: pointer;
}

.media-description-container {
    width: 300px;
}

/* Login */

.login-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    background-color: #36363b;
    color: #c5c4c3;
}

.footer-row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Youth */

.childrens-block-container {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("https://dccsiteimages.s3.amazonaws.com/children_on_floor.jpg");
}

.childrens-block-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.childrens-block-overlay {
    background-color: white;
    opacity: 0.75;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.childrens-block-content {
    position: relative;
    z-index: 2;
    min-width: 200px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #36363b;
}

.ordinal {
    position: relative;
    bottom: 0.75em;
    font-size: 0.5em;
}

.side-pad {
    padding:0px 5px;
}

.youth-events-list {
    align-self: flex-start;
}

img.noborder {
    border: 0;
}

/* File input */

label.fileLabel input[type="file"] {
    display: none;
}

/* Podcast Admin */

.podcast-admin-container {
    padding-top: 60px;
}

.podcast-title-input {
    padding-left: 7px;
}

.podcast-date-input {
    padding-left: 4px;
}

.form-field-widths {
    min-width: 230px;
    margin-bottom: 10px;
}

/***** Example custom styling *****/
.fileLabel span {
    font-weight: 300;
}

.fileLabel {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    background: #337ab7;
    color: white;
}

/* Misc */

.pad {
    padding: 15px;
}

.margin {
    margin: 15px;
}

.text-center {
    text-align: center;
}

.link-button {
    font-size: 14px;
    min-width: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid #36363b;
    padding: 5px;
    cursor: pointer;
    color: #36363b;
    text-decoration: none;
}

a.link-button:hover {
    background-color: black;
    color: white;
    border-color: white;
    text-decoration: none;
}

a.link-button:focus {
    text-decoration: none;
}

.home-media-title-container .link-button {
    color: #36363b;
}

.link-button.primary {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}

.link-button.caution {
    background-color: #e74c3c;
    color: white;
}

.link-button.fill {
    background-color: white;
}

.link-button.light {
    color: #c5c4c3;
    border-color: #c5c4c3;
}

.link-button-icon {
    height: 15px;
    position: relative;
    top: 2px;
}

.crop-image {
    max-width: 120px;
    overflow: hidden;
    border: 1px solid #36363b;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content.column {
    flex-direction: column;
}

.center-content.wrap {
    flex-wrap: wrap;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

hr.thin {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.thick {
    border-width: 2px;
}

hr.dashed {
    border-style: dashed;
}

h4.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex.wrap {
    display: flex;
    flex-wrap: wrap;
}

.bordered {
    border: 1px solid black;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 5px;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.image-select.has-value > .Select-control > .Select-multi-value-wrapper > .Select-value, .image-select.has-value > .Select-control > .Select-multi-value-wrapper > .Select-input {
    height: 200px;
}
.image-select > .Select-control > .Select-clear-zone, .image-select > .Select-control > .Select-arrow-zone {
    vertical-align: top;
    padding-top: 8px;
}
